@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-size: cover;
    background-color: #3c3d41;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 900px;
    background-color: #3c3d41;
}

.cabecalho-menu{
   display: flex;
   gap: 40px;
}

.cabecalho-logo{
    width: 300px;
}

.cabecalho-menu-item{
    font-family: 'Chivo', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;  
}

 a:hover {
    background-color:#0060b1;
    border-radius: 5px;
  }

.conteudo {
    border-top: 0.025px solid white;
    margin-bottom: 48px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo-principal-texto-titulo{
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ff6500;
}

.conteudo-principal-texto-subtitulo{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-imagem {
    height: 600px;  
}

.conteudo-principal-texto-botao {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color:  #0060b1;
    color: white;
    cursor: pointer;
}

.rodape-autor p {
    margin: 10px;
    color: #ccc;
}

.rodape-autor{
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.rodape{
    background-color: #ff6500;
    color: white;
    padding-top: 30px;
}

.rodape-primeiro-conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.rodape-social-icons{
    font-size: 30px;
    gap: 35px;
}

.fa-instagram{
    color: white;
}

.fa-facebook{
    color: white;
}

.fa-envelope{
    color: white;
}
